<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Blog{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'about' %}">Acerca de mí</a></li>
                <li><a href="{% url 'profile' %}">Mi perfil</a></li>
                <li><a href="{% url 'blog_list' %}">Lista de Blogs</a></li>
                <li><a href="{% url 'blog_create' %}">Crear Blog</a></li>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrar cuenta</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

